/*
WCEU 2023 CUSTOM REMOTE CSS

This file is used to add custom CSS remotely to the WCEU 2023 site.
Team members: Steve Tsiogkas, @steve_tsiogkas, Fotis Pastrakis @fotisp4, Ioanna Mitsani @IoannaMitsani

TABLE OF CONTENTS -- PLEASE KEEP UPDATED
1. Global: Global CSS rules will be applied to all pages like Colors, Typography etc.
    1.1 Fonts
        1.1.1 Font Families
        1.1.2 Font Weights
        1.1.3 Font Sizes
    1.2 Colors
        1.2.1 Basics: Neutral colors & main body text colors
        1.2.2 Reds: Red shades
        1.2.3 Blues: Blue shades
        1.2.4 Turquoise: Turquoise shades
        1.2.5. Yellow: Yellow shades
2. Default rules
    *** To be added ***
3. Typography
    3.1 Headings
        3.1.1 Heading 1
        3.1.2 Heading 2
        3.1.3 Heading 3
        3.1.4 Heading 4
        3.1.5 Heading 5
        3.1.6 Heading 6
    3.2 Paragraph - Body Block Text
    3.3 Lists *** To be added ***
    3.4 Links *** To be added ***
    3.5 Buttons *** To be added ***
4. Header 

    
2. Default styles: Default styles for the theme.

NAMING & CONVENTIONS USED:
1. Colors: Color variables are named as in Branding Guidelines - Figma Color Styles. The convention used is: --WCEU2023-ColorName-ColorShade // ColorShade is optional according to the color.


*/

:root {
  /* 1.1 Fonts */

  /* 1.1.1 Font Families */
  --Philosopher: "Philosopher", sans-serif;
  --Mulish: "Mulish", sans-serif;

  /* 1.1.2 Font weights */
  --Regular: 400;
  --Medium: 500;
  --SemiBold: 600;
  --Bold: 700;
  --ExtraBold: 800;

  /* 1.1.3  Font sizes */
  --H1-FontSize: 80pt;
  --H2-FontSize: 40pt;
  --H3-FontSize: 26pt;
  --H4-FontSize: 25pt;
  --H5-FontSize: 20pt;
  --H6-FontSize: 16pt;
  --Body-FontSize: 20pt;

  /* 1.2 Colors */

  /* 1.2.1 Basics: neutrals & body text colors */
  --WCEU2023-DarkBlue-100: #0a3773;
  --WCEU2023-TotalWhite-100: #ffffff;
  --WCEU2023-OffWhite: #ebebe6;
  --WCEU2023-AlmostBlack-100: #14191e;

  /* 1.2.2 Reds */
  --WCEU2023-Red-100: #cd3c5a;
  --WCEU2023-Red-80: #d7637b;
  --WCEU2023-Red-60: #e18a9c;
  --WCEU2023-Red-40: #ebb1bd;
  --WCEU2023-Red-20: #f5d8de;
  --WCEU2023-Red-10: #faecef;

  /* 1.2.3 Blues */
  --WCEU2023-Blue-100: #1e5fb4;
  --WCEU2023-Blue-80: #4b7fc3;
  --WCEU2023-Blue-60: #789fd2;
  --WCEU2023-Blue-40: #a5bfe1;
  --WCEU2023-Blue-20: #d2dff0;
  --WCEU2023-Blue-10: #e9eff7;

  /* 1.2.4 Turquoises*/
  --WCEU2023-Turquoise-100: #1ebeaf;
  --WCEU2023-Turquoise-80: #4bcbbf;
  --WCEU2023-Turquoise-60: #78d8cf;
  --WCEU2023-Turquoise-40: #a5e5df;
  --WCEU2023-Turquoise-20: #d2f2ef;
  --WCEU2023-Turquoise-10: #e9f8f7;

  /* 1.2.5 Yellows */
  --WCEU2023-Yellow-100: #fac83c;
  --WCEU2023-Yellow-80: #fbd363;
  --WCEU2023-Yellow-60: #fcde8a;
  --WCEU2023-Yellow-40: #fde9b1;
  --WCEU2023-Yellow-20: #fef4d8;
  --WCEU2023-Yellow-10: #fffaec;
}

/* 2. Default rules */

/* 3. Typography */

/* 3.1 Headings */

/* 3.1.1 Heading 1 */
.WCEU2023-HeadingOne {
  font-family: var(--Philosopher);
  font-weight: var(--Bold);
  font-size: var(--H1-FontSize);
  color: var(--WCEU2023-Blue-100);
}

/* 3.1.2 Heading 2 */
.WCEU2023-HeadingTwo {
  font-family: var(--Philosopher);
  font-weight: var(--Bold);
  font-size: var(--H2-FontSize);
  color: var(--WCEU2023-Red-100);
}

/* 3.1.3 Heading 3 */
.WCEU2023-HeadingThree {
  font-family: var(--Philosopher);
  font-weight: var(--SemiBold);
  font-size: var(--H3-FontSize);
  color: var(--WCEU2023-AlmostBlack-100);
  display: block;
  margin-bottom: 30pt;
}

/* 3.1.4 Heading 4 */
.WCEU2023-HeadingFour {
  font-family: var(--Mulish);
  font-weight: var(--Medium);
  font-size: var(--H4-FontSize);
  color: var(--WCEU2023-AlmostBlack-100);
}

/* 3.1.5 Heading 5 */
.WCEU2023-HeadingFive {
  font-family: var(--Mulish);
  font-weight: var(--Medium);
  font-size: var(--H5-FontSize);
  color: var(--WCEU2023-AlmostBlack-100);
}

/* 3.1.6 Heading 6 */
.WCEU2023-HeadingSix {
  font-family: var(--Mulish);
  font-weight: var(--SemiBold);
  font-size: var(--H6-FontSize);
  color: var(--WCEU2023-AlmostBlack-100);
  line-height: 24pt;
}

/* 3.2 Paragraph - Body Block Text */
.WCEU2023-BlockText {
  font-family: var(--Mulish);
  font-weight: var(--SemiBold);
  font-size: var(--Body-FontSize);
  color: var(--WCEU2023-AlmostBlack-100);
  line-height: 40pt;
  display: block;
  margin-bottom: 30pt; /* Not sure if this is the right way to do paragraph spacing */
}

/* 3.3 Header */
.wp-block-navigation-item__label {
  font-family: var(--Mulish);
  font-size: 1.5rem;
  color: var(--WCEU2023-DarkBlue-100);
}

.wp-block-navigation-item__label:hover {
  text-decoration: none;
  color: var(--WCEU2023-Red-100);
}

