.page-id-14 {

	@include media-min(md) {
		.wp-site-blocks {
			background: url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-OrganisersPage.png),
				url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-OrganisersPage2.png),
				url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-OrganisersPage.png),
				url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-OrganisersPage2.png),
				url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-OrganisersPage.png);
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: -700px 1%, 700px 25%, -700px 50%, 700px 75%,
				-700px 85%;
		}
	}

	#tix-attendees {
		max-width: 1440px !important;
		.tix-attendee-list {
			padding-left: 0;
		}
		a {
			color: $WCEU2023-Red-100;
		}
		li {
			overflow: hidden;
			height: auto;
			min-height: 350px;
			text-align: center;
			@include media-max(sm) {
				width: 100%;
			}
			.avatar {
				float: none;
				width: initial;
				height: initial;
				border-radius: 100%;
				border: 4px solid;
				border-top-color: $WCEU2023-Blue-100;
				border-right-color: $WCEU2023-Red-100;
				border-bottom-color: $WCEU2023-Turquoise-100;
				border-left-color: $WCEU2023-DarkBlue-100;
				padding: 20px;
			}
			.tix-field {
				margin-left: 0;
				font-size: unset;
			}
			.tix-attendee-name {
				color: $WCEU2023-Blue-100;
			}
		}
	}
}
