
.speaker-session span a{
	font-family: $Mulish;
    font-size: 25px;
    font-weight: $Bold;
    color: $WCEU2023-DarkBlue-100;
    text-decoration: none;
}

h2.session-speakers {
    display: none;
}

.wp-block-group.has-background.session-footer {
    padding-left: 0;
    padding-right: 0;
}