
.speaker-session span a{
	font-family: $Mulish;
    font-size: 25px;
    font-weight: $Bold;
    color: $WCEU2023-DarkBlue-100;
    text-decoration: none;
}

h2.session-speakers {
    display: none;
}

.session-footer {
    padding: 100px 0;
}

li.wcb_session.type-wcb_session{
    background-color: #fff;
    border: 8px solid #1d5fb4;
    min-height: 300px;
    width: 33.3%;
}

li.wcb_session.type-wcb_session h4 a{
    font-size: 25px;
    font-family: $Mulish;
    font-weight: $Bold;
    padding: 30px;
    margin: 0;
    text-decoration: none;
}

.session-footer h3{
    font-size: 40px;
    font-family: $Philosopher;
    font-weight: $Bold;
    color: #083773;
}

span.wp-block-wordcamp-session-speakers__name {
    font-family: $Mulish;
    font-size: 20px;
    font-weight: $Bold;
    color: #cd3c5a;
}

ul#session-speaker-names li a{
    font-family: $Mulish;
    font-size: 20px;
    font-weight: $Bold;
    color: #cd3c5a;
    text-decoration: none;
}

span.session-categories-links a {
    font-family: $Mulish;
    font-size: 20px;
    font-weight: $Bold;
    color: #cd3c5a;
    text-decoration: none;
}

.session-content.wp-block-post-content{
display: flex;
flex-direction: column-reverse;
align-items: flex-start;
justify-content: flex-start;
}

ul#session-speaker-names{
    display: flex;
    order: 3;
    padding-left: 0;
}

#session-speaker-names li {
    order: 1;
}

span.session-categories-links{
    order: 2;
}


