.single-wcb_speaker {
	@include media-min(md) {
		.wp-block-post-content {
			max-width: 1220px !important;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-bottom: 40px;
		}
	}

	.speaker-avatar {
		display: none !important;
	}

	.speaker-social-handles {
		text-decoration: underline !important;
		letter-spacing: 2% !important;
		color: $WCEU2023-Red-100 !important;
	}

	.speaker-sessions,
	#speaker-session-names {
		display: none !important;
	}

	.wordcamp-image__avatar-container {
		img {
			border: 10px solid #1e5fb4;
			border-radius: 50%;
			margin: 0 auto;
			padding: 100px 0;
		}
	}

	.wordcamp-speaker__sessions {
		background-color: $WCEU2023-Turquoise-40;
		padding: 20px;
		max-width: 1220px !important;
		margin-top: 30px;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 40px;
		font-size: 2.2rem;

		.wordcamp-speaker__sessions-heading {
			margin: 0;
			font-size: 1.2rem;
		}

		.wordcamp-speaker__session-link {
			color: $WCEU2023-DarkBlue-100 !important;
			font-weight: $Bold;
			text-decoration: none !important;
			font-size: 1.5rem;
		}

		.wordcamp-speaker__session-info {
			margin-top: 5px;
			font-size: 1rem !important;
		}
	}
}
