.single-wcb_speaker {
	@include media-min(md) {
		.wp-block-group {
			max-width: 1220px !important;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-bottom: 40px;
		}
	}

	.speaker-avatar {
		display: none !important;
	}
}
