.home {
	/* hero section */
	.home-hero {
		position: relative;
		overflow: hidden;
		margin-top: -1.5rem;

		&::after {
			content: "";
			display: block;
			position: absolute;
			background-image: url(//europe.wordcamp.org/2023/files/2022/12/homepage-hero-section-symbol.png);
			background-position: top right;
			background-repeat: no-repeat;
			z-index: 10;
			width: 600px;
			height: 600px;
			bottom: -100px;
			right: 0;

			@include media-max(sm) {
				display: none;
			}
		}
		h1,
		p {
			color: $WCEU2023-DarkBlue-100;
			font-weight: $ExtraBold;
		}
		p {
			font-weight: $SemiBold;
		}
		.wp-block-button .wp-block-button__link {
			font-family: $Mulish;
			background-color: $WCEU2023-Red-100;
			padding: 15px 25px;
		}
	}

	.announcement-post {
		padding: 16vh 0;

		a.wp-block-latest-posts__post-title {
			color: $WCEU2023-Red-100;
			font-family: $Philosopher;
			text-decoration: none;
			font-weight: $Bold;
		}
	}
}

.wordcamp-community-home {
	.wc-comm {
		display: flex;
		justify-content: space-between;
	}

	.wc-comm-section {
		a {
			color: #fff !important;
		}
		@include media-min(md) {
			aspect-ratio: 1/1;
		}
	}

	.wc-comm-organizers {
		background: url("//europe.wordcamp.org/2023/files/2022/12/Organizers-leaf.png");
		background-repeat: no-repeat;
		background-position: right;
	}
	.wc-comm-volunteers {
		background: url("//europe.wordcamp.org/2023/files/2022/12/Volunteers-symbol.png");
		background-repeat: no-repeat;
		background-position: right;
	}
	.wc-comm-speakers {
		background: url("//europe.wordcamp.org/2023/files/2022/12/speakers-symbol.png");
		background-repeat: no-repeat;
		background-position: right;
	}
	.wc-comm-attendees {
		background: url("//europe.wordcamp.org/2023/files/2022/12/attendees-symbol.png");
		background-repeat: no-repeat;
		background-position: right;
	}
	.wc-comm-sponsors {
		background: url("//europe.wordcamp.org/2023/files/2022/12/sponsors-symbol.png");
		background-repeat: no-repeat;
		background-position: right;
	}
}
