.latest-news {
	overflow: hidden;
	background-color: #fbd363;
	background-image: url(//europe.wordcamp.org/2023/files/2023/01/latest_news_section_symbol.png);
	background-repeat: no-repeat;
	padding-top: 60px;
	padding-bottom: 60px;

	@include media-max(md) {
		background-position: bottom right;
	}


	ul {
		max-width: 1680px !important;
	}

	.wp-block-post-excerpt__excerpt {
		max-height: 80px;
		overflow: hidden;
		display: inline-block;
	}

	.wp-block-post-title {
		font-family: $Philosopher !important;
		font-weight: $Bold !important;
		color: $WCEU2023-Red-100;
		font-size: 2rem;
	}

}

// news page bg
.category-news {
	.latest-news {
		.wp-block-query:before {
			content: "";
			background-image: url(//europe.wordcamp.org/2023/files/2023/01/latest-news-page-background-symbol.png);
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}
	
}

// homepage bg
.home {
	.latest-news {
		background-color: #fbd363;
		background-image: url(//europe.wordcamp.org/2023/files/2023/01/latest_news_section_symbol.png);
		background-repeat: no-repeat;
	}
}