.latest-news {
	overflow: hidden;
	background-color: #fbd363;
	background-image: url(//europe.wordcamp.org/2023/files/2023/01/latest_news_section_symbol.png);
	background-repeat: no-repeat;
	padding-top: 60px;
	padding-bottom: 60px;

	a.wp-block-read-more {
		margin: 0;
	}

	@include media-max(md) {
		background-position: bottom right;
	}


	ul {
		max-width: 1680px !important;
	}

	.wp-block-post-excerpt {
		margin-top: 0;
	}

	.wp-block-post-excerpt__excerpt {
		max-height: 80px;
		overflow: hidden;
		display: inline-block;
	}

	.wp-block-post-title {
		font-family: $Philosopher !important;
		font-weight: $Bold !important;
		color: $WCEU2023-Red-100;
		font-size: 2rem;
		margin-top: 0;
	}

}

// archive page
.category-news {
	.latest-news {

		background-image: url(//europe.wordcamp.org/2023/files/2023/01/latest-news-page-background-symbol.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: transparent;
		margin-bottom: -25px;

		.wp-block-post-date {
			color: $WCEU2023-Red-100;
		}

		.wp-block-post-title,
		.wp-block-post-excerpt {
			color: $WCEU2023-DarkBlue-100;
		}

	}

}

// homepage
.home {
	.latest-news {
		background-color: #fbd363;
		background-image: url(//europe.wordcamp.org/2023/files/2023/01/latest_news_section_symbol.png);
		background-repeat: no-repeat;
	}
}

//single post
.single-post {
	.latest-news {
		background: $WCEU2023-Yellow-40;
		.wp-block-heading {
			color: $WCEU2023-DarkBlue-100 !important;
		}
		.wp-block-post-date {
			color: $WCEU2023-Red-100;
		}
		.wp-block-post-title,
		.wp-block-post-excerpt {
			color: $WCEU2023-DarkBlue-100;
		}
	}
}