.wordcamp-more-speakers__block {
	width: unset !important;
	background-color: $WCEU2023-Yellow-40;

	margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;

	padding: 40px var(--wp--custom--spacing--outer);

	.wordcamp-more-speakers__title {
		color: $WCEU2023-DarkBlue-100 !important;
	}

	.wordcamp-more-speakers__grid {
		li {
			height: 600px !important;

			div {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;

				a {
					.wordcamp-image__avatar-link {
						height: 450px !important;
					}
				}
			}
		}

		li:nth-of-type(n + 4) {
			display: none;
		}
	}
}
