.wordcamp-more-speakers__block {
	width: unset !important;
	background-color: $WCEU2023-Yellow-40;

	margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;

	padding: 40px var(--wp--custom--spacing--outer);

	.wordcamp-more-speakers__title {
		color: $WCEU2023-DarkBlue-100 !important;
	}

	.wordcamp-more-speakers__grid {
		li div {
			display: flex;
			flex-direction: column-reverse;
			height: 600px !important;
			align-items: center;
		}

		li div a {
			.wordcamp-image__avatar-link {
				height: 450px !important;
			}

			align-items: center;
		}

		li:nth-of-type(n + 4) {
			display: none;
		}
	}
}
