.page-cover {
	margin-top: 0;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 80% 50px;
	&.blue-cover {
		background-color: $WCEU2023-Blue-60;
		@include media-min(md) {
			background-image: url(//europe.wordcamp.org/2023/files/2023/01/call-for-cover-symbol.png);
		}
		.wp-block-post-title {
			color: $WCEU2023-DarkBlue-100;
		}
	}

	&.pink-cover {
		background-color: $WCEU2023-Red-60;
	}

	&.turquoise-cover {
		background-color: $WCEU2023-Turquoise-60;
		@include media-min(md) {
			background-image: url(//europe.wordcamp.org/2023/files/2023/01/contact-page-cover-symbol.png);
		}
		.wp-block-post-title {
			color: $WCEU2023-DarkBlue-100;
		}
	}
}

// calls template header bg override
.page-template-wp-custom-template-calls-template {
	& header {
		.wp-block-group.has-background {
			background-color: $WCEU2023-Blue-60 !important;
		}
	}
}
