/*  Footer
	========================================================================== */

footer {
	.wceu23footer {
		background-image: url(//europe.wordcamp.org/2023/files/2022/12/footer-background-symbol.png);
		background-size: 800px;
		background-repeat: no-repeat;
		background-position: top 250px right -50px;

		@include media-max(sm) {

			background-position: bottom -100px right -100px;
			background-size: 600px;
			padding-bottom: 0;

		}
	}

	.wp-block-button__link {
		background: #fff;
		color: #0a3773;
	}


	a,
	p,
	h4 {
		color: #fff !important; // !importart is needed because there's a glocal rule in Additional CSS panel. Please remove it when the global rule is removed.
		text-decoration: none;
	}

	.wp-block-navigation .wp-block-navigation-item__label {
		font-size: "1.2rem";
		color: #fff;
	}

	.wp-block-navigation__container {

		@include media-max(sm) {
			justify-content: flex-start;
		}

		span {
			font-size: "1.2rem";
			color: #fff;
		}

	}

}
