/*  Header
	========================================================================== */

header {
	.wp-block-navigation {
		ul,
		.wp-block-navigation-item__label {
			font-family: $Mulish;
			color: $WCEU2023-DarkBlue-100;

			@include media-max(md) {
				font-size: "1.5rem";
			}
		}

		li:last-child {
			.wp-block-navigation__submenu-container {
				min-width: 400px !important;
				li {
					text-align: right;
					
					a {
						display: inline-block !important;
					}
				}
			}

		}
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		background-color: $WCEU2023-Turquoise-100 !important;
	}
	#modal-2 {

		background-image: url(//europe.wordcamp.org/2023/files/2023/02/menu-symbol.png);
		background-repeat: no-repeat;
		background-size: auto 102vh;
		
	}
	#modal-2-content {
		    

		ul {

			// @include media-max(lg) {
			// 	margin: 0 auto;
			// 	text-align: center;
			// 	align-content: center;
			// 	align-items: center;
			// }
		}

		// .wp-block-navigation-submenu {
		// 	a {

		// 		@include media-max(lg) {
		// 			margin: 0 auto;
		// 			text-align: center;
		// 			align-content: center;
		// 			align-items: center;
		// 		}
		// 	}
		// }
	}
}

// nav block breakpoint
@include media-max(lg) {
	.wp-block-navigation__responsive-container:not(.has-modal-open) {
		bottom: 0 !important;
		display: none !important;
		left: 0 !important;
		position: fixed !important;
		right: 0 !important;
		top: 0 !important;
	}

	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: initial;
	}
}

@include media-min(lg) {
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: none !important;
	}
}
