/*  Header
	========================================================================== */

header {
	.wp-block-navigation {
		ul,
		.wp-block-navigation-item__label {
			font-family: $Mulish;
			font-size: "1.5rem";
			color: $WCEU2023-DarkBlue-100;
		}
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		background-color: $WCEU2023-Turquoise-100 !important;

		@include media-max(sm) {
			--navigation-layout-justification-setting: center !important;
		}

	}

}
