/*  Header
	========================================================================== */

header {
	.wp-block-navigation {
		ul,
		.wp-block-navigation-item__label {
			font-family: $Mulish;
			@include media-max(md){
				font-size: "1.5rem";
			}
			color: $WCEU2023-DarkBlue-100;
		}
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		background-color: $WCEU2023-Turquoise-100 !important;
	}

	#modal-2-content {
		ul {

			@include media-max(sm) {
				margin: 0 auto;
				text-align: center;
				align-content: center;
				align-items: center;
			}

		}

		.wp-block-navigation-submenu {
			a {

				@include media-max(sm) {
					margin: 0 auto;
					text-align: center;
					align-content: center;
					align-items: center;
				}
			}

		}
	}

}
