.alignwide {
	max-width: 1680px !important;
	margin: 0 auto !important;;
}

.bold {
	font-weight: $Bold !important;
}

.disabled {
	opacity: 0.8;
	pointer-events: none;
}

.latest-news {
	overflow: hidden;
	background-color: #FBD363;
	background-image: url('//europe.wordcamp.org/2023/files/2023/01/latest_news_section_symbol.png');
	background-repeat: no-repeat;
	@include media-max(md) {
		    background-position: bottom right;
	}
	padding-top: 60px;
    padding-bottom: 60px;
	ul {
    	max-width: 1680px!important;
	}
	.wp-block-post-excerpt__excerpt {
		max-height: 150px;
		overflow: hidden;
		display: inline-block;
	}
	.wp-block-post-title {
		font-family: $Philosopher !important;
		font-weight: $Bold !important;
		color: $WCEU2023-Red-100;
		font-size: 2rem;
	}

}