//global classes
.alignwide {
	max-width: 1680px !important;
	margin: 0 auto !important;
}

.mw-1200 {
	max-width: 1200px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.bold {
	font-weight: $Bold !important;
}

.disabled {
	opacity: 0.8;
	pointer-events: none;
}

.m-top-0 {
	margin-top: 0 !important;
}

.top-logo {
	img {
		width: 180px;
		position: absolute;
		top: -50px;
		z-index: 99;
	}
}

header {
	.wp-block-navigation {
		.has-child {
			&:not(.open-on-click) {
				&:hover {
					>.wp-block-navigation__submenu-container {
						min-width: 400px;
					}
				}
			}
		}
	}
}