.alignwide {
	max-width: 1680px !important;
	margin: 0 auto;
}

.latest-news {
	background-color: #FBD363;
	background-image: url('//europe.wordcamp.org/2023/files/2023/01/latest_news_section_symbol.png');
}